<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle">
      <p>Liens d'api de l'application mobile d'Africa Web Festival</p>
      <p>
        Vous ne savez pas ou commencer ? Lisez la <a href="https://adonisjs.com/docs">documentation</a>.
      </p>
    </div>
  </section>
</body>
</html>
